.body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    
}

.container {
    border: none;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px;
    background-color: orange;
    color: white;
    justify-items: center;
    align-items: center;
    font-size:x-large;
    width: 425px;
}

.btn {
    background-color: rgb(21, 24, 212);
    border: none;
    border-radius: 10px;
    box-shadow: black 0 20px 30px;
    padding: 1%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: flex;
    position: relative;
    top: 65px;
}

.btn:hover {
    transition: 500ms;
    background-color: gold;
    color: black;
}
.display {
    display: flex;
    position: fixed;
    background-color: black;
    height: 20px;
    width: 335px;
    padding: 1%;
    left: 30px;
}